* {
    padding: none;
    margin: none;
    box-sizing: border-box;
}

@media screen and (max-width:819px) {
    h1 {
      font-size: 2rem;
    }
  
    p { 
        font-size: 1rem;
    }

    label {
      height: 4rem;
      transition: all 0.3s linear;
    }

    input:checked + label {
      height: 21rem;
      transition: all 0.3s linear;
      background: linear-gradient(#008a57, white, white, white, white)    
    }

    label img {
      display: block;
      height: 12rem;
      margin: 3rem auto;
    }


  }

  @media screen and (min-width: 820px) and (max-width:1919px) {
    h1 {
      font-size: 3rem;
    }
  
    p { 
        font-size: 1.5rem;
    }

    label {
      height: 6rem;
      background: #fff;
      transition: all 0.3s ease-out;
    }

    input:checked + label {
      height: 26rem;
      transition: all 0.3s linear;
      background: linear-gradient(#008a57, white, white, white, white)   
    }

    label img {
      display: block;
      height: 18rem;
      margin: 3rem auto;
    }


  }

  @media screen and (min-width: 1920px) {
    h1 {
      font-size: 4rem;
    }
  
    p { 
        font-size: 2rem;
    }

    .icon {
      opacity: 0;
      transition: all 0.3s ease-out;
    }

    .content:hover div label p .icon {
      opacity: 1;
      transition: all 0.3s ease-in;
    }  

    label:hover p .icon {
      transform: none;
      transition: all 0.4s;
    }

    label {
      height: 8rem;
      transition: all 0.3s ease-out;
      background: #fff;
    }

    input:checked + label, label:hover {
      height: 31rem;
      transition: all 0.3s linear;
      background: linear-gradient(#008a57, white, white, white, white)
    }

    label img {
      display: block;
      height: 22rem;
      margin: 3rem auto;
    }
  }

  html, body {
    background-color: #eeeeee;
  }

  .content {
    width: 90%;
    margin: auto;
  }
  input {
    display: none;
  }

  p {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  label {
    display: block;
    border: 0.1em solid black;
    border-radius: 1em;
    width: 100%;
    margin: 2% auto;
    padding: 0.5% 5%;
    overflow: hidden;
    transition: all 0.2s linear;
    background-color: #fff;
    cursor: pointer;
    filter: none;
  }

  input:checked + label {
    animation-name: click;
    animation-duration: 0.3s;
    animation-timing-function: linear;
  }

  @keyframes click {
    0%   {filter: none;}
    30%  {filter: blur(0.1rem);}
    100% {filter: none;}
  }


  .icon {
    margin-right: 1%;
    transform: rotate(45deg);
    transition: 0.4s;
  }

  input:checked + label p .icon {
    transform: none;
    transition: all 0.4s;
  }



 